 @font-face {
 	font-family: OpenSans; /* Гарнитура шрифта */
 	src: url(fonts/2211.ttf); /* Путь к файлу со шрифтом */
 }

 @font-face {
 	font-family: OpenSans_semibold; /* Гарнитура шрифта */
 	src: url(fonts/2212.ttf); /* Путь к файлу со шрифтом */
 }

 @font-face {
 	font-family: OpenSans_bold; /* Гарнитура шрифта */
 	src: url(fonts/2204.ttf); /* Путь к файлу со шрифтом */
 }
 @font-face {
 	font-family: Blisspro_medium; /* Гарнитура шрифта */
 	src: url(fonts/blisspro-medium.otf); /* Путь к файлу со шрифтом */
 }


 body {
 	font-family: OpenSans;
 }
 header {
 	background-color: #3f51b5;
 }
 a {
 	cursor: pointer;
 }
 h1 {
 	font-family: OpenSans_bold ;
 	font-size: 26px ;
 	margin-bottom: 40px;
 	margin-top: 40px;
 }
 label {
 	font-family: OpenSans;
 	color: #707386;
 }


 .line {
 	width: 1024px;
 	margin: 0 auto;
 	border-bottom: 1px #9f9b96 solid;
 }
 .header-cont { 
 	display: flex;
 	justify-content: space-between;
 	vertical-align: middle; 	
 	height: 100px;
 	
 	padding: 10px;
 	
 	align-items: center;
 	color: white;
 }
 .header-cont-text {
 	font-family:Blisspro_medium;
 	font-size: 26px;

 	
 }

 .flex-auth {
 	display: flex;
 	align-items: center;

 }
 .flex-auth-text { 	
 	padding: 10px;
 	color: #b5c0fa;
 }
 .flex-auth-text-logout
 {
 	color: white;
 	text-decoration: none;
 	font-size: 10px;
 	color: #b5c0fa;
 	
 }
 .img-circle {
 	height:50px;
 	width:50px;
 }
 .form_size {
 	width: 400px;
 	margin: 0 auto;
 	
 }

 .button 
 {

 	font-size: 10px;
 	height: 40px;
 	width: 130px;
 	border-radius: 5px;
 	margin-right: 20px;
 	font-size: 13px; 	
 	font-family: OpenSans_semibold; 

 	
 }

 .button-login
 {
 	background-color: #f6511e;
 	color: white;
 	border : none;
 	
 }

 .button-cancel
 {
 	background-color: #ffffff;
 	color: #f6511e;
 	border-color: #f6511e;
 }
 .button-cancel_disabled 
 {
 	cursor: not-allowed;
 	opacity: 0.5; 	
 	background-color: #D3D3D3;
 }
 .help-block
 {
 	color: red;
 }
 .manage-group {
 	display: flex;
 	flex-wrap: wrap;
 	justify-content: space-between;
 }
 .input-group {
 	width: 370px;
 	position: relative;	
 }
 .input-group-addon {
 	background-color: white;
 }
 .table {
 	margin-top: 30px;
 }
 .input-duration
 {
 	width: 100px;
 }

.disabled{
	color : #D3D3D3;	 
}
.disabled .titlelink {
	color : #D3D3D3;
	 pointer-events: none;
}